<!--ss3_th_bai1-->
<!--<app-font-size-editor> </app-font-size-editor>-->
<!--<app-ss3-th-bai2></app-ss3-th-bai2>-->
<!--<app-ss3-th-bai3></app-ss3-th-bai3>-->
<!--<app-ss3-bt-bai3></app-ss3-bt-bai3>-->
<!--<app-ss3-bt-bai2></app-ss3-bt-bai2>-->
<!--<app-ss4-th-bai1></app-ss4-th-bai1>-->
<!--<app-ss4-bt-bai1></app-ss4-bt-bai1>-->
<!--<app-ss5-th-bai1 cardName="Professional Dev" email="prodev@codegym.vn" phone="0123456789"></app-ss5-th-bai1>-->
<!--<app-ss5-th-bai2></app-ss5-th-bai2>-->
<!--<app-ss5-bt-bai1></app-ss5-bt-bai1>-->
<!--<app-ss6-th-bai1></app-ss6-th-bai1>-->
<app-ss6-bt-bai1></app-ss6-bt-bai1>
<!--<app-ss7-th-bai1></app-ss7-th-bai1>-->
<!--<a routerLink="/timelines">Ứng dụng tính thời gian sống</a>-->
<!--<router-outlet></router-outlet>-->
<!--<app-ss7-th-bai2></app-ss7-th-bai2>-->
<!--<a routerLink="/youtube">Youtube</a>-->
<!--<router-outlet></router-outlet>-->

<!--ss7-th-bai3-->
<!--<a routerLink="/product/list/">Danh sách sản phẩm</a>|<a routerLink="product/create">Tạo sản phẩm</a>-->
<!--<router-outlet></router-outlet>-->
